@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
  --green: #4B9200;
  --yellow: #FFEE2E;
  --orange: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  --orange_border: linear-gradient(113.96deg, #FA6F32 1.49%, #FE9013 101.44%);;
  --orange_gradient: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  --clementine: #E47209;
  --pink_gradient: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  --red: #D31414;
  --black_blue: #333B41;
  --gray: #767474;
  --gray_smoky: #ABABAB;
  --gray_light: #F1F3F2;
  --frosted_glass_white: rgba(253, 253, 255, 0.52);
}

body {
  font-family: Roboto, sans-serif;
}

h2 h3 h4 h5 p {
  margin: 0px;
  padding: 0px;
}

.container {
  position: relative;
  width: 1600px;
}

nav {
  background-color: #000;
}

nav {
  background-color: #000;
}

nav ul {
  display: flex;
  height: 80px;
  align-items: center;
  list-style-type: none;
  margin: 0px 220px;
  padding: 0px;
  overflow: hidden;
  flex-wrap: nowrap;
}

nav li:not(:first-child):not(:last-child) a {
  padding: 29px;
}

nav li:first-child {
  display: flex;
  justify-content: flex-start;
  padding: 29px 29px 29px 0px;
}

nav li:last-child{
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

nav li:last-child a {
  padding: 29px 0px 29px 29px;
}

nav a {
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  color: #fff;
  text-decoration: none;
  background-color: #000;
}

.logo {
  font-size: 19.01px;
  font-weight: 300;
  line-height: 120%;
  border: 1px solid #fff;
  border-radius: 2px;
  box-sizing: border-box;
  text-align: center;
  padding: 2.55px 4.75px;
  margin-right: 5px;
  background-image: url(../../assets/images/bg-images/logo-stick.png);
  background-repeat: no-repeat;
  background-position: bottom 9.54px left 9.69px;
}

li a:hover:not(.noHover) {
  background-color: #333;
}

li a:active {
  /* color: var(--orange); */
  color: #F9804B;
}

.one__image {
  height: 700px;
  width: 100%;
  background-image: url(../../assets/images/bg-images/giant-panda.jpg);
  background-repeat: no-repeat;
  background-position: bottom 0px left 0px;
}

.one__text {
  position: absolute;
  width: 500.31px;
  height: 400px;
  left: 880px;
  top: 80px;
  font-weight: 700;
  font-size: 70px;
  line-height: 114%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.013em;
  color: #fff;
  /* margin:0px;
  padding:0px; */
}

.one__text .one__yellow {
  color: var(--yellow);
}

.one__ellipse {
  position: absolute;
  top: 92px;
  left: calc(50% - 465px/2 + 239.5px);
  width: 465px;
  height: 465px;
  background: var(--orange);
  border-radius: 50%;
}

.button {
  width: 298px;
  height: 54px;
  background: var(--orange);
  border-radius: 25px;
  border: 0px;
  text-transform: uppercase;
  color: #fff;
}

.button:hover {
  background: var(--clementine);
  cursor: pointer;
}

.button:active {
  background: var(--green);
}

.button:disabled {
  background: var(--gray);
}

.button__one {
  position: absolute;
  left: calc(50% - 298px/2 + 332px);
  top: 626px;
}
