@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
  --green: #4B9200;
  --yellow: #FFEE2E;
  --orange: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  --orange_border: linear-gradient(113.96deg, #FA6F32 1.49%, #FE9013 101.44%);
  --orange_gradient: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  --clementine: #E47209;
  --pink_gradient: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  --red: #D31414;
  --black_blue: #333B41;
  --gray: #767474;
  --gray_smoky: #ABABAB;
  --gray_light: #F1F3F2;
  --frosted_glass_white: rgba(253, 253, 255, 0.52);
}

* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

.button {
  width: 298px;
  height: 54px;
  background: var(--orange);
  border-radius: 25px;
  border: 0px;
  text-transform: uppercase;
  color: #fff;
}

.button:hover {
  background: var(--clementine);
  cursor: pointer;
}

.button:active {
  background: var(--green);
}

.button:disabled {
  background: var(--gray);
}

.square {
  border-radius: 5px;
}

.button_form {
  
}

.button_form:hover {
  border: 1px solid var(--clementine);
  color: var(--clementine);
  border-radius: 5px;
  cursor: pointer;
}

form:invalid button{
  border: 1px solid #D31414;
  color: #D31414;
  cursor: pointer;
}

/* header */

header {
  position: relative;
  background: #000;
  height: 80px;
  z-index: 4;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
}

.toggleNav {
  display: none;
  position: absolute;
  right: 0;
  top: 12px;
  width: 18px;
  height: 10px;
  background-image: url(../../assets/images/incons/burger_menu.svg);
  background-repeat: no-repeat;
  z-index: 10;
}

.toggle_nav__toggled {
  background-image: url(../../assets/images/incons/x_icon_orange.svg) !important;
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
  margin-right: 10px;
  background-color: #fff;
}

.toggled {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  margin: 0px;
  padding: 10px 10px 40px 10px;
  background: #fff;
  align-items: flex-start;
  list-style-type: none;
}

.toggled a {
  background: #fff;
  color: var(--clementine);
  /* border: 1px solid var(--clementine); */
}

.toggled .logo {
  border: 1px solid var(--clementine);
  margin-bottom: 20px ;
}

.dimmed {
  position: relative;
}

.dimmed::after {
  content: ' ';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  /* opacity: 70%; */
  background: rgba(0, 0, 0, 0.5);
  z-index: 3;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  gap: 58px;
  /* width: 630px; */
  overflow: hidden;
  flex-wrap: nowrap;
  z-index: 1;
}

header nav a {
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  color: #fff;
  text-decoration: none;
  background-color: #000;
}

header .logo {
  font-size: 19px;
  font-weight: 300;
  line-height: 120%;
  border: 1px solid #fff;
  border-radius: 2px;
  box-sizing: border-box;
  text-align: center;
  padding: 2.55px 4.75px;
  margin-right: 5px;
  background-image: url(../../assets/images/bg-images/logo-stick.png);
  background-repeat: no-repeat;
  background-position: bottom 9.54px left 9.69px;
}

header li:first-child {
  margin-left: 0;
}

header li a:hover:not(.noHover) {
  color: #F9804B;
}

header li a:active {
  color: #F9804B;
}

header a.active {
  color: #F9804B;
}

/* section 1 */

.one {
  position: relative;
  height: 700px;
  margin: 0 auto;
  padding: 0;
  background-image: url(../../assets/images/bg-images/giant-panda.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: content-box;
  /* background-position: bottom 0px left 0px; */
}

.one__ellipse {
  position: absolute;
  top: 12px;
  /* left: 800px; */
  left: 50%;
  width: 465px;
  height: 465px;
  background: var(--orange);
  border-radius: 50%;
}

.one__text {
  position: absolute;
  width: 500px;
  height: 400px;
  left: calc(50% + 80px);
  top: 86px;
  font-weight: 700;
  font-size: 70px;
  line-height: 114%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.013em;
  color: #fff;
}

.one__text .one__yellow {
  color: var(--yellow);
}

.one__text h2 {
  margin: 0;
  padding: 0;
}

.button__one {
  position: absolute;
  left: calc(50% + 176px);
  top: 546px;
}

/* section 2 */

.two {
  position: relative;
  box-sizing: border-box;
  height: 617px;
  padding: 140px 0 74px 0;
  background-image: url(../../assets/images/bg-images/back-1-flower.png);
  background-size: 293px 605px;
  background-repeat: no-repeat;
  background-position: top 12px right -93px;
}

/* .container__two {
  width: 1161px;
  height: 403px;
  position: relative;
  left: 219px;
  top: 140px;
  display: flex;
  justify-content: center;
  color: #333B41;
} */

.two .container {
  display: flex;
  justify-content: space-between;
  /* padding: 140px 0 0 219px; */
  /* padding-top: 140px; */
  /* padding: 0; */
}

.img__two {
  position: relative;
  display: flex;
  /* justify-content: flex-start; */
  width: 609px;
  height: 403px;
  left: 0px;
  top: 0px;
  backdrop-filter: blur(2px);
}

.separator__two {
  width: 87px;
}

.content__two {
  color: #333B41;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-content: center;
  width: 465px;
  height: 403px;
}

.two h2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  margin: 0px 0px -15px 0px;
  padding: 0px;
}

.two h3 {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  margin: 0px;
  padding: 15px 0px 0px 0px;
}

.two p {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  margin: 0px;
  padding: 0px;
}

/* section 3 */

.three {
  /* position: relative; */
  box-sizing: border-box;
  padding: 106px 0 100px 0;
  background-image: url(../../assets/images/bg-images/back-2-palm.png),
                    url(../../assets/images/bg-images/back-3-strelitzia.png);
  background-size: 386px 202px, 241px 180px;
  background-position: left -251px bottom 0, right 0 bottom -4px;
  background-repeat: no-repeat, no-repeat;
}

.three .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #fff;
  z-index: 3;
  /* margin: 106px auto ; */
}

.carousel {
  position: relative;
  width: 100%;
  height: 876px;
  transition: all 0.5s ease;
}

.carousel__inner {
  display: block;
  position: relative;
  overflow: hidden !important;
  /* flex-direction: row; */
  width: 1160px;
  height: 876px;
  margin: 0 auto;
  background-color: #fff;
}

.carousel__slide {
  position: absolute;
  top: 0;
  width: 1160px;
  min-width: 1160px;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 28px;
  row-gap: 20px;
  z-index: 0;
}

.slide__left {
  top: 0;
  left: -100%;
  background-color: blueviolet;
}

.slide__middle {
  left: 0;
  top: 0;
  background-color: red;
}

.slide__right {
  top: 0;
  left: 100%;
  background-color: greenyellow;
}

.pagination {
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  top: 407px;
  width: 1322px;
  height: 0px;
  z-index: 200;
  background: #fff;
}

.circle_arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background-image: var(--orange), url(../../assets/images/vector/arrow-left.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: color;
  z-index: 2;
}

.arrow__right {
  transform: rotate(-180deg);
}

.animal_card {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 366px;
  height: 426px;
  border-radius: 5px;
  border: 1px solid var(--clementine);
  box-sizing: content-box;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.animal_card:hover {
  animation: scaleUp 2s;
}

.animal_card:hover .animal_info__container {
  background: var(--frosted_glass_white);
  height: 130px;
}

.animal_card:hover h4 {
  font-size: 1.8rem;
}

.animal_card:hover p {
  font-size: 1.3rem;
}

@keyframes fadeIn {
  from {filter: brightness(100%)} to {filter: brightness(70%)};
}

@keyframes scaleUp {
  from {background-size: 117%} to {background-size: 130%};
}

.animal_card .animal_info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 60px;
  margin: 8px 16px 0px;
  padding: 0px;
}

.animal_info__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 60px;
  background-color: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.animal_card h4 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  margin: 0px;
  padding: 0px;
}

.animal_card p {
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  margin: 0px;
  padding: 0px;
}

.feed_icon.weed_eater {
  background-image: url(../../assets/images/vector/banana-bamboo_icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 33px;
  height: 37px;
  margin: 10px 12px;
}

.feed_icon.flesh_eater {
  background-image: url(../../assets/images/vector/meat-fish_icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 48px;
  height: 38px;
  margin: 8px;
}

.card_1 {
  background-image: url(../../assets/images/animal-cards/pandas.jpg);
}

.card_2 {
  background-image: url(../../assets/images/animal-cards/haliaeetus.jpg);
}

.card_3 {
  background-image: url(../../assets/images/animal-cards/gorilla.jpg);
}

.card_4 {
  background-image: url(../../assets/images/animal-cards/sloth.jpg);
}

.card_5 {
  background-image: url(../../assets/images/animal-cards/ry.jpg);
}

.card_6 {
  background-image: url(../../assets/images/animal-cards/penguin.jpg);
}

.circle_arrow:hover {
  cursor: pointer;
  filter: brightness(80%);
}

.circle_arrow:active {
  background-color: var(--green);
  background-image: url(../../assets/images/vector/arrow-left.svg);
  background-blend-mode: color;
  filter: brightness(100%);
}

.button__three {
  display: block;
  width: 298px;
  margin: 80px auto 0 auto;
}

.four {
  color: #333B41;
  padding: 69px 0 100px 0;
  background: var(--orange_gradient);
}

.four .container {
  position: relative;
  box-sizing: border-box;
  padding: 41px 60px 59px 100px;
  border-radius: 20px;
  background: var(--frosted_glass_white);
  backdrop-filter: blur(2px);
}

.four h2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  color: #FE9013;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.four h3 {
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: #333B41;
  margin-top: 60px;
  text-align: center;
}

.four h4 {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #333B41;
}

.four strong {
  font-weight: 500;
}

.how_it_works {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 764px;
  height: 244px;
  margin: 0 auto;
}

.how_it_works .card_container {
  width: 168px;
  height: 244px;
  z-index: -10 !important;
}

.how_it_works .arrow_black {
  width: 69px;
  height: 35px;
  margin-top: 62px;
}

.how_it_works .arrow_green {
  display: none;
}

.how_it_works .card {
  width: 168px;
  height: 168px;
  background: #fff;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid var(--clementine);
}

.how_it_works p {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  padding: 0;
  margin-top: 30px;
  color: #333B41;
  text-align: left;
}

.four .container a {
  text-decoration: none;
  border-bottom: 1px solid #FE9013;
  color: #333B41;
}

.card.pay {
  background-image: url(../../assets/images/vector/pay.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.card.zoo {
  background-image: url(../../assets/images/vector/zoo.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.card.monkey {
  background-image: url(../../assets/images/vector/monkey.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.button__four {
  display: block;
  margin: 60px auto 0 auto;
}

.five {
  position: relative;
  background: #fff;
  background-image: url(../../assets/images/bg-images/back-4-leaf.png);
  background-size: 409px 407px;
  background-position: right -163px bottom -132px;
  background-repeat: no-repeat;
  padding: 100px 0 140px 0;
}

.five .container {
  position: relative;
}

.five h4 {
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  text-align: center;
  color: #333B41;
  margin: 0;
}

.testimonials {
  display: block;
  position: relative;
  overflow: hidden !important;
  width: 1161px;
  height: 391px;
  margin-top: 47px;
}

.testimonials__inner {
  position: absolute;
  display: flex;
  gap: 30px;
  transition: all 0.5s ease;
}

.testimonials .card {
  width: 268px;
  height: 391px;
  border: 2px solid transparent;
  border-radius: 20px;
  background-image: linear-gradient(var(--gray_light), var(--gray_light)), var(--pink_gradient);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.card_inner {
  margin: 0px 15px 19px 16px;
}

.card .user {
  display: flex;
  height: 38px;
  margin-top: 15px;
}

.user_info {
  display: flex;
  flex-direction: column;
}

.user .name {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #000;
}

.user .local {
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #BDBDBD;  
}

.card .user_icon {
  background-repeat: no-repeat;
  background-position: left top;
  width: 37px;
  height: 37px;
  margin-right: 10px;
}

.card .user_icon.default_user {
  background-image: url(../../assets/images/incons/user_icon_default.png);
}

.card .user_icon.user_one {
  background-image: url(../../assets/images/incons/user_icon_1.png);
}

.card .user_icon.user_two {
  background-image: url(../../assets/images/incons/user_icon_2.png);
}

.card .user_icon.user_three {
  background-image: url(../../assets/images/incons/user_icon_3.png);
}

.card p {
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #767474;
}

.scroll {
  width: 599px;
  margin: 0 auto;
}

input[type="range"] {
  -webkit-appearance: none;
  box-sizing: content-box;
  height: 8px;
  width: 100%;
  margin-top: 21px;
  border: 1px solid transparent;
  border-radius: 5px;
  background-image: linear-gradient(var(--gray_light), var(--gray_light)), var(--pink_gradient);
  background-clip: content-box, border-box;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #FE9013;
  margin: 1px;
  /* overflow: hidden; */
  width: 115px;
  height: 6px;
  border-radius: 5px;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background-color: #E47209;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb:active {
  background-color: #4B9200;
}

.five .button {
  margin-top: 31px;
}

/* footer */

footer {
  height: 443px;
  background: #111115;
  color: #fff;
  box-sizing: border-box;
  padding: 40px 0px 50px 0px; 
}

footer .container {
  position: relative;
  height: 100%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer .sub_upper {
  width: 100%;
  height: 84px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

footer .sub_bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0;
  padding: 0;
}

footer .button {
  /* margin-top: 20px; */
}

.sub_upper a {
  text-decoration: none;
  color: #fff;
}

footer .logo {
  width: 82px;
  height: 52px;
  font-size: 19px;
  font-weight: 300;
  line-height: 120%;
  border: 1px solid #fff;
  border-radius: 2px;
  box-sizing: border-box;
  text-align: center;
  padding: 2.55px 4.75px;
  margin-right: 5px;
  background-image: url(../../assets/images/bg-images/logo-stick.png);
  background-repeat: no-repeat;
  background-position: bottom 9.54px left 9.69px;
}

footer form {
  width: 367px;
  display: flex;
  justify-content: space-between;
}

footer input[type=email] {
  width: 228px;
  height: 42px;
  margin: 0px;
  padding: 10px;
  border: 1px solid var(--clementine);
  border-radius: 2px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #BDBDBD;
  background-color: transparent;
}

footer form button {
  width: 129px;
  height: 42px;
  background: #F1F3F2;
  border: 1px solid #4B9200;
  color: #4B9200;
  border-radius: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  cursor: pointer;
}

footer .social {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 111px;
  /* height: 134px; */
  /* padding: 0 0 10px 0; */
  margin: 0;
}

.social a {
  display: block;
  box-sizing: border-box;
  /* width: 110px; */
  color: #fff;
  text-decoration: none;
  line-height: 100%;
  margin-top: 10px;
}

.social_icon {
  height: 26px;
  background-repeat: no-repeat;
  background-size: 26px 26px;
  padding: 5px 0 0 38px;
  margin: 0;
}

.social a:hover {
  cursor: pointer;
  filter: brightness(0.7) sepia(56) hue-rotate(3deg) saturate(1845%);
}

.social_container:hover a{
  color: #E47209;
}

.social_icon.facebook {
  background-image: url(../../assets/images/incons/fb.svg);
}

.social_icon.twitter {
  background-image: url(../../assets/images/incons/tw.svg);
}

.social_icon.instagram {
  background-image: url(../../assets/images/incons/in.svg);
}

.social_icon.youtube {
  background-image: url(../../assets/images/incons/yt.svg);
}

footer nav ul {
  margin: 0 0 0 60px;
  width: 362px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  list-style-type: none;
}

footer nav a {
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  color: #fff;
  text-decoration: none;
}

footer li a:hover{
  color: #E47209;
}

footer li a:active {
  color: #F9804B;
}

footer a.active {
  color: #F9804B;
}

footer .signature p {
  font-weight: 100;
  font-size: 16px;
  margin: 10px 0 0 0;
}

footer h4 {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  margin: 0px 0px 10px 0px;
  padding: 0px;
}

@media screen and (min-width: 1600px) {
  .container {
    max-width: 1160px;
    margin: 0 auto;
  }

  .one {
    position: relative;
    height: 700px;
    background-image: url(../../assets/images/bg-images/giant-panda.jpg);
    background-repeat: no-repeat;
    background-position: bottom 0px left 0px;
    background-size: cover;
  }
}

@media screen and (min-width: 1000px) and (max-device-width: 1599px) {
  .container {
    max-width: 940px;
    margin: 0 auto;
  }

  header nav ul {
    /* width: 580px; */
  }

  .one {
    position: relative;
    width: 100%;
    height: 504px;
    background-image: url(../../assets/images/bg-images/giant-panda.jpg);
    background-repeat: no-repeat;
    background-position: bottom 0px left 0px;
    z-index: 0;
  }

  .one__ellipse {
    position: absolute;
    top: -11px;
    left: calc(50% - 44px);
    width: 367px;
    height: 367px;
    z-index: -1 !important;
  }

  .one__text {
    width: 400px;
    height: 320px;
    left: calc(50% + 14px);
    top: 43px;
    font-weight: 700;
    font-size: 56px;
    line-height: 114%;
  }

  .button__one {
    left: calc(50% + 65px);
    top: 403px;
  }

  .two {
    box-sizing: border-box;
    width: 100%;
    height: 627px;
    padding: 100px 0;
    background-image: none;
  }

  .two .container {
    justify-content: space-between;
    align-items: center;
  }

  .img__two {
    position: relative;
    /* display: flex; */
    /* justify-content: flex-start; */
    width: 455px;
    height: 408px;
    object-fit: cover;
    backdrop-filter: blur(2px);
  }

  .separator__two {
    width: 31px;
  }

  .content__two {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-content: center;
    width: 454px;
    height: 427px;
  }

  .three {
    width: 100%;
    padding: 42px 0 140px 0;
    background-size: 386px 202px, 241px 180px;
    background-position: left -192px bottom 0, right 0 bottom -4px;
  }

  .carousel {
    width: 100%;
    height: 800px;
  }

  .carousel__inner {
    width: 941px;
    height: 804px;
  }

  .carousel__slide {
    max-width: 100%;
    gap: 26px;
    row-gap: 92px;
  }

  .pagination {
    top: 402px;
    width: 295px;
    align-items: center;
  }

  .animal_card {
    width: 294px;
    height: 354px;
  }

  .button__three {
    margin: 80px auto 0 auto;
  }

  .four {
    padding: 30px 30px 50px 30px;
  }

  .four .container {
    max-width: 940px;
    margin: 0 auto;
    padding: 30px 48px 50px 49px;
  }

  .five {
    background-size: 325px 324px;
    background-position: right -129px bottom -85px;
    padding: 100px 0 140px 0;
  }

  .five h4 {
    font-size: 36px;
    line-height: 130%;
    margin: 0;
  }

  .testimonials {
    width: 940px;
    height: 391px;
    margin-top: 30px;
  }

  .testimonials__inner {
    position: absolute;
    display: flex;
    gap: 30px;
  }

  .testimonials .card {
    width: 293px;
    height: 391px;
  }

  .card_inner {
    margin: 0px 18px 19px 16px;
  }

  .card .user {
    margin-top: 15px;
  }

  .card p {
    width: 255px;
    height: 309px;
    overflow: hidden;
    /* white-space: nowrap; */
  }

  .scroll {
    width: 390px;
    margin-top: 20px;
  }

  .five .button {
    width: 240px;
    margin: 52px 0 0 0;
  }

  footer nav ul {
    width: 332px;
  }
}

@media screen and (min-width: 640px) and (max-width: 999px) {
  .container {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
  }

  header {
    position: fixed;
    width: 100%;
    height: 34px;
  }

  header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.29px 0 2.68px 0;
  }

  header .logo {
    flex: 1;
    font-size: 12.2899px;
    width: 47px;
    height: 29px;
    padding: 0;
    margin: 0;
    border: none;
    background-size: 4.54px 13.56px;
    background-position: left 6.54px bottom 2.45px;
  }

  header nav li {
    display: none;
  }

  .designedNav {
    /* display: none; */
  }

  .toggleNav {
    display: block;
  }

  .toggled_item {
    display: block;
  }

  .toggled_item a {
    background: #fff;
    color: #333B41;
    z-index: 2;
  }

  .one {
    height: 373px;
    width: 100%;
    background-image: url(../../assets/images/bg-images/giant-panda.jpg);
    background-repeat: no-repeat;;
    background-size: 120%;
    background-position: top -20px left -70px;
  }

  .one__ellipse {
    position: absolute;
    top: 44px;
    left: calc(50% + 11px);
    width: 237.6px;
    height: 237.6px;
  }

  .one__text {
    width: 256px;
    height: 204px;
    left: calc(50% + 48px);
    top: 82px;
    font-weight: 700;
    font-size: 37px;
    line-height: 114%;
  }

  .button__one {
    position: relative;
    left: 0px;
    top: 279px;
  }

  .two {
    box-sizing: border-box;
    width: 100%;
    height: 471px;
    padding: 60px 0 0 0;
    background-image: url(../../assets/images/bg-images/back-1-flower.png);
    background-repeat: no-repeat;
    background-size: 231px 476px;
    background-position: top -5px right -104.5px;
  }

  .two .container {
    display: block;
  }

  .img__two {
    display: none;
  }

  .separator__two {
    display: none;
  }

  .content__two {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-content: center;
    margin-right: 125px;
    height: 367px;
  }

  .three {
    width: 100%;
    padding: 36px 0 100px 0;
    background-size: 385px 202px, 175px 131px;
    background-position: left -192px bottom 0, right 0 bottom 0;
  }

  .three .container {
    margin: 0 auto;
  }

  .carousel {
    position: relative;
    width: 100%;
    height: 760px;
  }

  .carousel__inner {
    width: 601px;
    height: 760px;
  }

  .carousel__slide {
    width: 601px;
    min-width: 601px;
    gap: 26px;
    row-gap: 92px;
  }

  .pagination {
    top: 381px;
    width: 154px;
    align-items: center;
  }

  .animal_card {
    width: 285px;
    height: 332px;
  }

  .animal_card .animal_info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 60px;
    margin: 8px 16px 0px;
    padding: 0px;
  }
  
  .animal_info__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 46.76px;
    background-color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  .animal_card h4 {
    font-size: 12.47px;
    margin: 0px;
    padding: 0px;
  }
  
  .animal_card p {
    font-size: 11.69px;
    margin: 0px;
    padding: 0px;
  }

  .feed_icon.weed_eater {
    background-size: cover;
    width: 25.72px;
    height: 28.84px;
    margin: 8px 9px 10px 0;
  }

  .feed_icon.flesh_eater {
    background-size: cover;
    width: 37.41px;
    height: 29.62px;
    margin: 6px 6px 11px 0;
  }

  .card_3 {
    display: none;
  }

  .card_6 {
    display: none;
  }

  .button__three {
    margin: 60px auto 0 auto;
  }
  
  .four {
    position: relative;
    color: #333B41;
    padding: 20px 0 20px 0;
  }
  
  .four .container {
    position: relative;
    box-sizing: border-box;
    max-width: 640px;
    padding: 10px 20px 60px 20px;
  }
  
  .four h2 {
    font-size: 42px;
  }
  
  .four h3 {
    font-size: 22px;
    line-height: 120%;
    margin-top: 20px;
  }
  
  .four h4 {
    font-size: 22px;
    line-height: 120%;
  }
  
  .four strong {
    font-weight: 500;
  }

  .how_it_works {
    width: 588px;
    height: 244px;
  }

  .how_it_works .card_container {
    position: relative;
    padding-top: 16px;
  }
  
  .how_it_works .arrow_black {
    display: none;
  }

  .how_it_works .arrow_green {
    display: block;
    width: 94px;
    height: 30px;
    margin: -3px -20px 0 -30px;
    z-index: 100;
  }
  
  .how_it_works p {
    margin-top: 30px;
  }

  .button__four {
    margin: 40px auto 0 auto;
  }

  .five {
    position: relative;
    background-size: 204px 203px;
    background-position: right -88px bottom -69px;
    padding: 60px 0 80px 0;
  }

  .five h4 {
    font-size: 36px;
    line-height: 120%;
    margin: 0;
  }

  .testimonials {
    flex-direction: column;
    justify-content: space-between;
    max-width: 100%;
    height: 357px;
    margin-top: 30px;
  }

  .testimonials__inner {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .testimonials .card {
    width: 600px;
    height: 109px;
  }

  .popover {
    position: fixed;
    display: block;
    width: 268px;
    top: 30vh;
    left: calc(50% - 134px);
    padding: 0;
    background: #F1F3F2;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(var(--gray_light), var(--gray_light)), var(--pink_gradient);
    background-origin: border-box;
    background-clip: content-box, border-box;
    z-index: 4;
  }
  
  .popover .close {
    position: absolute;
    width: 14px;
    height: 14px;
    top: -8px;
    right: -20px;
    background-image: url(./../../assets/images/incons/x_icon_orange.svg);
    z-index: 5;
  }

  .popover .card_inner {
    /* padding: 0 14px 19px 16px; */
  }

  .popover p {
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #767474;
  }

  .card_inner {
    margin: 0px 29px 8px 18px;
  }

  .card .user {
    margin-top: 15px;
  }

  .card p {
    width: 553px;
    height: 38px;
    overflow: hidden;
    white-space: nowrap;
  }

  .scroll {
    display: none;
  }

  .five .button {
    display: block;
    width: 240px;
    margin: 40px auto 0 auto;
  }

  footer {
    height: 282px;
    padding: 12px 20px; 
  }

  footer .sub_upper {
    height: 52px;
  }

  footer .sub_bottom {
    display: flex;
  }

  footer form {
    display: none;
  }

  footer .form {
    display: none;
  }

  footer .social {
    position: absolute;
    right: 0;
    top: 0;
    width: 26px;
  }

  footer .social span {
    display: none;
  }

  .social a {
    margin: 0 0 20px 0;
  }

  footer nav ul {
    margin: 0;
    padding: 0;
  }

  footer nav {
    display: flex;
    justify-content: space-between;
    width: 298px;
    height: 22px;
    margin: 0;
  }
}

@media screen and (min-width: 0px) and (max-width: 639px) {
  .container {
    position: relative;
    max-width: 300px;
    margin: 0 auto;
  }

  header {
    position: fixed;
    width: 100%;
    height: 34px;
  }

  header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.29px 0 2.68px 0;
  }

  header .logo {
    flex: 1;
    font-size: 12.2899px;
    width: 47px;
    height: 29px;
    padding: 0;
    margin: 0;
    border: none;
    background-size: 4.54px 13.56px;
    background-position: left 6.54px bottom 2.45px;
  }

  header nav li {
    display: none;
  }

  .designedNav {
    /* display: none; */
  }

  .toggleNav {
    display: block;
  }

  .toggled_item {
    display: block;
  }

  .toggled_item a {
    background: #fff;
    color: #333B41;
    z-index: 2;
  }

  .one {
    position: relative;
    width: 100%;
    height: 221px;
    background-image: url(../../assets/images/bg-images/giant-panda.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-position: top -20px left -70px; */
  }

  .one__ellipse {
    top: 56px;
    left: calc(50% + 3px);
    width: 119.09px;
    height: 119.09px;
    /* z-index: -2; */
  }

  .one__text {
    width: 128.13px;
    height: 102.44px;
    left: calc(50% + 21px);
    top: 75px;
    font-weight: 700;
    font-size: 19px;
    line-height: 115%;
  }

  .button__one {
    position: relative;
    margin: 0 auto;
    left: 0px;
    top: 241px;
  }

  .two {
    width: 100%;
    height: 492px;
    padding: 104px 0 0 0;
    background-image: url(../../assets/images/bg-images/back-1-flower.png);
    background-repeat: no-repeat;
    background-position: top 38px right -74px;
    background-size: 105px 217px;
  }

  .two .container {
    display: block;
  }

  .img__two {
    display: none;
  }

  .separator__two {
    display: none;
  }

  .content__two {
    display: flex;
    width: 300px;
    height: 388px;
    justify-content: space-between;
    flex-direction: column;
    align-content: center;
  }

  .two h2 {
    font-size: 24px;
    line-height: 120%;
    margin: 0;
  }

  .two h3 {
    font-size: 24px;
    line-height: 120%;
    margin: 0;
  }

  .two p {
    line-height: 130%;
  }

  .three {
    width: 100%;
    height: 1562px;
    padding: 40px 0 134px 0;
    background-size: 138px 72px, 85px 71px;
    background-position: left -80px bottom 0, right -17px bottom 0;
  }

  .three .container {
    display: block;
    margin: 0 auto;
  }

  .carousel {
    width: 287px;
    height: 1396px;
  }

  .carousel__inner {
    width: 287px;
    height: 1396px;
  }
  
  .carousel__slide {
    flex-direction: column;
    gap: 20px;
    width: 287px;
    min-width: 1396px;
  }

  .animals_second {
    margin-top: 20px;
  }

  .pagination {
    display: none !important;
  }

  .animal_card {
    width: 285px;
    height: 332px;
  }

  .animal_card .animal_info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 60px;
    margin: 8px 16px 0px;
    padding: 0px;
  }
  
  .animal_info__container {
    height: 46.76px;
  }
  
  .animal_card h4 {
    font-size: 12.47px;
    margin: 0px;
    padding: 0px;
  }
  
  .animal_card p {
    font-size: 11.69px;
    margin: 0px;
    padding: 0px;
  }

  .feed_icon.weed_eater {
    background-size: cover;
    width: 25.72px;
    height: 28.84px;
    margin: 8px 9px 10px 0;
  }

  .feed_icon.flesh_eater {
    background-size: cover;
    width: 37.41px;
    height: 29.62px;
    margin: 6px 6px 11px 0;
  }

  .card_5 {
    display: none;
  }

  .card_6 {
    display: none;
  }

  .button__three {
    margin: 20px auto 0 auto;
  }

  .four {
    color: #333B41;
    padding: 20px 10px;
  }
  
  .four .container {
    max-width: 300px;
    padding: 20px 0 40px 0;
  }
  
  .four h2 {
    font-size: 24px;
  }

  .four .text {
    display: none;
  }
  
  .four h3 {
    font-size: 24px;
    line-height: 120%;
    margin: 20px 0 0 0;
  }
  
  .four h4 {
    display: none;
  }

  .how_it_works {
    width: 168px;
    height: 724px;
    flex-direction: column;
  }

  .how_it_works .card_container {
    padding-top: 16px;
    z-index: -10;
  }
  
  .how_it_works .arrow_black {
    display: none;
  }

  .how_it_works .arrow_green {
    display: block;
    width: 94px;
    height: 30px;
    transform: rotate(90deg);
    margin: -30px 0 0 145px !important;
    z-index: 5;
  }
  
  .how_it_works p {
    height: 44px;
    margin-top: 10px;
  }

  .button__four {
    display: block;
    width: 298px;
    margin: 30px auto 0 auto;
  }

  .five {
    background-size: 110px 109px;
    background-position: right -39px bottom -41px;
    padding: 30px 0 60px 0;
  }

  .five h4 {
    font-size: 24px;
    line-height: 120%;
    margin: 0;
  }

  .testimonials {
    max-width: 300px;
    height: 357px;
    margin-top: 20px;
  }

  .testimonials__inner {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .testimonials .card {
    width: 300px;
    height: 109px;
  }

  .popover {
    position: fixed;
    display: flex;
    width: 268px;
    top: 30vh;
    left: calc(50% - 134px);
    background: #F1F3F2;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(var(--gray_light), var(--gray_light)), var(--pink_gradient);
    background-origin: border-box;
    background-clip: content-box, border-box;
    z-index: 4;
  }

  .popover .close {
    position: absolute;
    width: 14px;
    height: 14px;
    top: -8px;
    right: -20px;
    background-image: url(./../../assets/images/incons/x_icon_orange.svg);
    z-index: 5;
  }

  .popover p {
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #767474;
  }

  .card_inner {
    margin: 0px 29px 12px 18px;
  }

  .card .user {
    margin-top: 11px;
  }

  .card p {
    width: 252px;
    height: 38px;
    overflow: hidden;
    white-space: nowrap;
  }

  .scroll {
    display: none;
  }

  .five .button {
    display: block;
    width: 240px;
    margin: 30px auto 0 auto;
  }
  
  footer {
    height: 334px;
    padding: 20px 9px; 
  }

  footer .sub_upper {
    /* height: 52px; */
    display: block;
  }

  footer .logo {
    border: none;
    width: 135px;
    height: 23px;
    margin: 20px auto 0 auto;
    background-position: bottom 4.54px left 76.69px;
  }

  footer .logo br {
    display: none;
  }

  footer .sub_bottom {
    display: block;
  }

  footer .button {
    position: absolute;
    top: 129px;
  }

  footer form {
    display: none;
  }

  footer .form {
    display: none;
  }

  footer .social {
    position: absolute;
    flex-direction: row;
    width: 194px;
    height: 26px;
    top: 73px;
    left: 61px;
    margin: 0 auto;
  }

  footer .social span {
    display: none;
  }

  .social a {
    width: 26px;
  }

  footer nav ul {
    margin: 0;
    padding: 0;
  }

  footer nav {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 278px;
    margin: 0;
  }
  
  footer .signature {
    float: right;
    margin: 0;
    margin-bottom: 52px;
  }
}
