@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
  --green: #4B9200;
  --yellow: #FFEE2E;
  --orange: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  --orange_border: linear-gradient(113.96deg, #FA6F32 1.49%, #FE9013 101.44%);
  --orange_gradient: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  --clementine: #E47209;
  --pink_gradient: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  --red: #D31414;
  --black_blue: #333B41;
  --gray: #767474;
  --gray_smoky: #ABABAB;
  --gray_light: #F1F3F2;
  --frosted_glass_white: rgba(253, 253, 255, 0.52);
}

body {
  font-family: Roboto, sans-serif;
}

header nav {
  background-color: #000;
}

@media screen and (max-width: 1599px) {
  .container {
    position: relative;
    width: 1600px;
  }

  .four {
    display: flex;
    align-items: stretch;
    background: var(--orange_gradient);
    text-align: center;
  }
  
  .container__four {
    width: 1160px;
    margin: 69px 220px 100px 220px;
    padding: 41px 0px 59px 0px;
    background: var(--frosted_glass_white);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    color: #333B41;
  }
  
  .container__four .text {
    padding-left: 99px;
    text-align: left;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    position: relative;
    width: 1000px;
  }

  .four {
    display: flex;
    align-items: stretch;
    background: var(--orange_gradient);
    text-align: center;
  }
  
  .container__four {
    width: 940px;
    margin: 30px 30px 50px 30px;
    padding: 30px 49px 50px 49px;
    background: var(--frosted_glass_white);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    color: #333B41;
  }
  
  .container__four .text {
    padding-left: 99px;
    text-align: left;
  }
}

@media screen and (max-width: 640px) {

}

@media screen and (max-width: 320px) {

}

header nav ul {
  display: flex;
  height: 80px;
  align-items: center;
  list-style-type: none;
  margin: 0px 220px;
  padding: 0px;
  overflow: hidden;
  flex-wrap: nowrap;
}

header nav li:not(:first-child):not(:last-child) a {
  padding: 29px;
}

header nav li:first-child {
  display: flex;
  justify-content: flex-start;
  padding: 29px 29px 29px 0px;
}

header nav li:last-child{
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

header nav li:last-child a {
  padding: 29px 0px 29px 29px;
}

header nav a {
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  color: #fff;
  text-decoration: none;
  background-color: #000;
}

header .logo {
  font-size: 19.01px;
  font-weight: 300;
  line-height: 120%;
  border: 1px solid #fff;
  border-radius: 2px;
  box-sizing: border-box;
  text-align: center;
  padding: 2.55px 4.75px;
  margin-right: 5px;
  background-image: url(../../assets/images/bg-images/logo-stick.png);
  background-repeat: no-repeat;
  background-position: bottom 9.54px left 9.69px;
}

header li a:hover:not(.noHover) {
  background-color: #333;
}

header li a:active {
  color: #F9804B;
}

header a.active {
  color: #F9804B;
}

.one {
  position: relative;
  height: 700px;
  width: 100%;
  background-image: url(../../assets/images/bg-images/giant-panda.jpg);
  background-repeat: no-repeat;
  background-position: bottom 0px left 0px;
}

.one__ellipse {
  position: absolute;
  top: 12px;
  /* left: 800px; */
  left: 50%;
  width: 465px;
  height: 465px;
  background: var(--orange);
  border-radius: 50%;
}

.one__text {
  position: absolute;
  width: 500px;
  height: 400px;
  left: calc(50% + 80px);
  /* top: 86px; */
  font-weight: 700;
  font-size: 70px;
  line-height: 114%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.013em;
  color: #fff;
}

.one__text .one__yellow {
  color: var(--yellow);
}

.button {
  width: 298px;
  height: 54px;
  background: var(--orange);
  border-radius: 25px;
  border: 0px;
  text-transform: uppercase;
  color: #fff;
}

.button:hover {
  background: var(--clementine);
  cursor: pointer;
}

.button:active {
  background: var(--green);
}

.button:disabled {
  background: var(--gray);
}

.square {
  border-radius: 5px;
}

.button_form {
  width: 129px;
  height: 42px;
  background: #F1F3F2;
  border: 1px solid #4B9200;
  color: #4B9200;
  border-radius: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  cursor: pointer;
}

.button_form:hover {
  border: 1px solid var(--clementine);
  color: var(--clementine);
  border-radius: 5px;
  cursor: pointer;
}

form:invalid button{
  border: 1px solid #D31414;
  color: #D31414;
  cursor: pointer;
}

.button__one {
  position: absolute;
  left: calc(50% - 298px/2 + 332px);
  top: 626px;
}

.two {
  background-image: url(../../assets/images/bg-images/back-1-flower.png);
  background-repeat: no-repeat;
  background-position: top 12px right 0px;
  height: 617px;
}

.container__two {
  width: 1161px;
  height: 403px;
  position: relative;
  left: 219px;
  top: 140px;
  display: flex;
  justify-content: center;
  color: #333B41;

}

.img__two {
  position: relative;
  display: flex;
  justify-content: flex-start;
  width: 609px;
  height: 403px;
  left: 0px;
  top: 0px;
  backdrop-filter: blur(2px);
}

.separator__two {
  width: 87px;
}

.content__two {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-content: center;
  width: 465px;
  height: 403px;
}

.two h2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  margin: 0px 0px -15px 0px;
  padding: 0px;
}

.two h3 {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  margin: 0px;
  padding: 15px 0px 0px 0px;
}

.two p {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  margin: 0px;
  padding: 0px;
}

.three {
  position: relative;
  background-image: url(../../assets/images/bg-images/back-2-palm.png),
                    url(../../assets/images/bg-images/back-3-strelitzia.png);
  background-position: left bottom, right bottom;
  background-repeat: no-repeat, no-repeat;
}

.three_container {
  display: flex;
  align-items: center;
  margin-top: 106px;
  justify-content: center;
  height: 872px;
  gap: 20px;
}
                      
.animals_container {
  position: relative;
  width: 1158px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}

.animal_card {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 366px;
  height: 426px;
  border-radius: 5px;
  border: 1px solid var(--clementine);
  box-sizing: content-box;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.animal_card:hover {
  animation: scaleUp 2s;
}

.animal_card:hover .animal_info__container {
  background: var(--frosted_glass_white);
  height: 130px;
}

.animal_card:hover h4 {
  font-size: 1.8rem;
}

.animal_card:hover p {
  font-size: 1.3rem;
}

@keyframes fadeIn {
  from {filter: brightness(100%)} to {filter: brightness(70%)};
}

@keyframes scaleUp {
  from {background-size: 117%} to {background-size: 130%};
}

/* @keyframes scaleUp {
  from {background-size: 120%} to {background-size: 130%};
} */

.animal_card .animal_info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 60px;
  margin: 8px 16px 0px;
  padding: 0px;
}

.animal_info__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 60px;
  background-color: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.animal_card h4 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  margin: 0px;
  padding: 0px;
}

.animal_card p {
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  margin: 0px;
  padding: 0px;
}

.feed_icon.weed_eater {
  background-image: url(../../assets/images/vector/banana-bamboo_icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 33px;
  height: 37px;
  margin: 10px 12px;
}

.feed_icon.flesh_eater {
  background-image: url(../../assets/images/vector/meat-fish_icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 48px;
  height: 38px;
  margin: 8px;
}

.card_1 {
  background-image: url(../../assets/images/animal-cards/pandas.jpg);
}

.card_2 {
  background-image: url(../../assets/images/animal-cards/haliaeetus.jpg);
}

.card_3 {
  background-image: url(../../assets/images/animal-cards/gorilla.jpg);
}

.card_4 {
  background-image: url(../../assets/images/animal-cards/sloth.jpg);
}

.card_5 {
  background-image: url(../../assets/images/animal-cards/ry.jpg);
}

.card_6 {
  background-image: url(../../assets/images/animal-cards/penguin.jpg);
}

.circle_arrow {
  background-image: var(--orange), url(../../assets/images/vector/arrow-left.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: color;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow__right {
  transform: rotate(-180deg);
}

.circle_arrow:hover {
  cursor: pointer;
  filter: brightness(80%);
}

.circle_arrow:active {
  background-color: var(--green);
  background-image: url(../../assets/images/vector/arrow-left.svg);
  background-blend-mode: color;
  filter: brightness(100%);
}

.three_container__bottom {
  height: 234px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button__three {
  margin-bottom: 15px;
}

.four h2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  color: #FE9013;
  margin: 0px;
  padding: 0px;
}

.four h3 {
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: #333B41;
  margin-top: 60px;
}

.four h4 {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #333B41;
}

.four p {
  line-height: 130%;
  margin-right: 50px;
}

.four strong {
  font-weight: 500;
}

.how_it_works {
  display: flex;
  justify-content: space-between;
  width: 764px;
  height: 244px;
  margin: 0 auto;
}

.how_it_works .card_container {
  width: 168px;
  height: 244px;
}

.how_it_works .arrow_container {
  background-image: url(../../assets/images/vector/how-it-works-arr.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 130px;
  height: 168px;
}

.how_it_works .card {
  width: 168px;
  height: 168px;
  background: #fff;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid var(--clementine);
  
}

.how_it_works p {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333B41;
  text-align: left;
}

.container__four a {
  text-decoration: none;
  border-bottom: 1px solid #FE9013;
  color: #333B41;
}

.card.pay {
  background-image: url(../../assets/images/vector/pay.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.card.zoo {
  background-image: url(../../assets/images/vector/zoo.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.card.monkey {
  background-image: url(../../assets/images/vector/monkey.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.button__four {
  margin-top: 60px;
}

.five {
  display: flex;
  justify-content: center;
  height: 919px;
  background: #fff;
  background-image: url(../../assets/images/bg-images/back-4-leaf.png);
  background-position: right bottom -130px;
  background-repeat: no-repeat;
}

.testimonials {
  height: 575px;
  width: 1160px;
  display: block;
}

.testimonials h4 {
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  text-align: center;
  color: #333B41;
  margin-top: 140px;
}

.testimonials_container {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  height: 391px;
}

.testimonials_container .card {
  width: 268px;
  height: 391px;
  border: 2px solid transparent;
  border-radius: 20px;
  background-image: linear-gradient(var(--gray_light), var(--gray_light)), var(--pink_gradient);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.card_inner {
  margin: 0px 15px 19px 16px;
}

.card .user {
  display: flex;
  height: 38px;
  margin-top: 15px;
}

.user_info {
  display: flex;
  flex-direction: column;
}

.user .name {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #000;
}

.user .local {
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #BDBDBD;  
}

.card .user_icon {
  background-repeat: no-repeat;
  background-position: left top;
  width: 37px;
  height: 37px;
  margin-right: 10px;
}

.card .user_icon.default_user {
  background-image: url(../../assets/images/incons/user_icon_default.png);
}

.card .user_icon.user_one {
  background-image: url(../../assets/images/incons/user_icon_1.png);
}

.card .user_icon.user_two {
  background-image: url(../../assets/images/incons/user_icon_2.png);
}

.card .user_icon.user_three {
  background-image: url(../../assets/images/incons/user_icon_3.png);
}

.card p {
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #767474;
}

.scroll {
  box-sizing: content-box;
  height: 8px;
  width: 599px;
  margin: 21px auto 31px auto;
  border-radius: 5px;
  background-image: linear-gradient(var(--gray_light), var(--gray_light)), var(--pink_gradient);
  border: 1px solid transparent;
  background-clip: content-box, border-box;
}

.scroll > span {
  display: block;
  position: relative;
  height: 6px;
  border-radius: 5px;
  background-color: #FE9013;
  margin: 1px;
  overflow: hidden;
}

.scroll > span:hover {
  background-color: #E47209;
  cursor: pointer;
}

.scroll > span:active {
  background-color: #4B9200;
}

.testimonials .button {
  margin: 0px auto 180px;
}

footer {
  background: #111115;
  width: 100%;
  height: 443px;
  color: #fff;
  /* margin: 0px auto; */
}

.footer_container {
  width: 1160px;
  height: 370px;
  padding: 40px 0px 30px 0px;
  margin: 0px auto;
  display: flex;
}

footer .left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 352px;
  width: 360px;
}

footer .button {
  margin-top: 20px;
}

.left a {
  text-decoration: none;
  color: #fff;
}

footer .logo {
  width: 82px;
  height: 52px;
  font-size: 19px;
  font-weight: 300;
  line-height: 120%;
  border: 1px solid #fff;
  border-radius: 2px;
  box-sizing: border-box;
  text-align: center;
  padding: 2.55px 4.75px;
  margin-right: 5px;
  background-image: url(../../assets/images/bg-images/logo-stick.png);
  background-repeat: no-repeat;
  background-position: bottom 9.54px left 9.69px;
}

.social a {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  margin: 2px 0px 2px 12px;
  color: #fff;
  text-decoration: none;
}

.social_container {
  display: flex;
  width: 120px;
}

.social_icon {
  width: 26px;
  height: 26px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 10px;
  padding: 0px;
}

.social_container:hover .social_icon {
  cursor: pointer;
  filter: brightness(0.7) sepia(56) hue-rotate(3deg) saturate(1845%);
}

.social_container:hover a{
  color: #E47209;
}

.social_icon.facebook {
  background-image: url(../../assets/images/incons/fb.svg);
}

.social_icon.twitter {
  background-image: url(../../assets/images/incons/tw.svg);
}

.social_icon.instagram {
  background-image: url(../../assets/images/incons/in.svg);
}

.social_icon.youtube {
  background-image: url(../../assets/images/incons/yt.svg);
}

footer .center {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 400px;
}

footer nav ul {
  display: flex;
  justify-content: space-between;
  align-items: end;
  list-style-type: none;
}

footer nav a {
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  color: #fff;
  text-decoration: none;
}

footer li a:hover{
  color: #E47209;
}

footer li a:active {
  color: #F9804B;
}

footer a.active {
  color: #F9804B;
}

footer .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 32px;
}

footer .right p {
  display: flex;
  justify-content: end;
  font-weight: 100;
  font-size: 16px;
  line-height: 130%;
}

footer h4 {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  margin: 0px 0px 10px 0px;
  padding: 0px;
}

input[type=email] {
  width: 228px;
  height: 42px;
  margin: 0px;
  padding: 10px;
  border: 1px solid var(--clementine);
  border-radius: 2px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #BDBDBD;
  background-color: transparent;
}
